# ignore generated entrypoints
packages/icon/**
!packages/icon/*
!packages/icon/src/**
!packages/icon/build-scripts/**

packages/fancy-icon/**
!packages/fancy-icon/*
!packages/fancy-icon/src/**
!packages/fancy-icon/build/**

packages/lender-logos/**
!packages/lender-logos/*
!packages/lender-logos/src/**
!packages/lender-logos/build/**

.DS_Store
lerna-debug.log
**/coverage/*
**/dist/*
**/node_modules/*
**/yarn-error.log
packages/website/static/sprite.symbol.svg