# ignore generated entrypoints
packages/lender-logos/**
!packages/lender-logos/*
!packages/lender-logos/src/**
!packages/lender-logos/build/**

.DS_Store
lerna-debug.log
**/coverage/*
**/dist/*
**/node_modules/*
**/yarn-error.log
packages/website/static/sprite.symbol.svg